<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="constr"
         connectionString="Data Source=CARITA-PC\SQLEXPRESS;Initial Catalog=bd_rh_atestadoctx;User ID=sa;Password=marcus123"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
<customErrors mode="Off"/>
      <globalization enableClientBasedCulture="true" culture="pt-BR" uiCulture="pt-BR"/>
    </system.web>
</configuration>
