html, body, form
{
	height: 100%;
}
body
{
    font-family: Tahoma, Verdana, Arial, Sans-Serif, Times New Roman;
    padding: 0;
    margin: 0;
}
#geral
{
	position: relative;
	min-height: 100%;
	background-color: #EEEEEE;
}
* html #geral
{
	height: 100%;
}
fieldset
{
    position:absolute;
    left: 50%;
    top: 40%;
    width: 300px;
    height: 400px;
    padding: 25px;
    margin: -135px 0 0 -175px;
    background-color: #fff;
    border: 1px solid #fff;
    -moz-box-shadow: 0 0 15px #2c2d30;
    -webkit-box-shadow: 0 0 15px #2c2d30;
    -msie-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
fieldset h2
{
    margin: 0;
    padding: 0;
}
fieldset #content_login
{
    margin: 20px 0;
    width: 436px;
}
fieldset label
{
    display: block;
    padding: 10px 0 0 0;
    width: 256px;
}
fieldset input[type=text], fieldset input[type=password]
{
    width: 100%;
}
fieldset input[type=button], fieldset input[type=submit]
{
    background-color: #428BCA;
    padding: 10px;
    border: 1px solid #428BCA;
    -msie-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-weight: bold;
}